@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --white: #ffffff;
  --black: #000000;
  --teal: #09a7a1;
  --orange: #ff8000;
  --raspbarry: #ff007a;
  --neon-pink: #ff14bd;
  --cream-brown: #31202b;
  --cyan: #00ffff;
  --midnight-voilet: #1f242d;
  --groung-green: #07252d;
  --text-btn-main-color: #54bf8b;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #92c9ae;
  width: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #004221;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 52, 22);
}

.anchorWhite {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  overflow-x: hidden;
}

.maincontainer {
  height: 100vh;
  width: 100vw;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
.maincontainer .pageOne {
  background: linear-gradient(to bottom, #024524, #fdfdfd);
  overflow: hidden;
  height: 100vh;
  scroll-snap-align: start;
}
.maincontainer .pageOne .headerPgOne {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.maincontainer .pageOne .headerPgOne .leftHeader {
  height: 100%;
  width: 30rem;
  /* background-color: var(--raspbarry); */
  display: flex;
  flex-direction: row;
}
.maincontainer .pageOne .headerPgOne .leftHeader .logoSvgDiv {
  padding: 1rem 0rem 0rem 1rem;
}
.maincontainer .pageOne .headerPgOne .leftHeader .logoSvgDiv .svgLogo {
  height: 5rem;
}
.maincontainer .pageOne .headerPgOne .leftHeader .textlogoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.maincontainer .pageOne .headerPgOne .leftHeader .textlogoDiv .heartPulseImgDiv .heartPulseImg {
  height: 5.2rem;
}
.maincontainer .pageOne .headerPgOne .leftHeader .textlogoDiv .websiteNameDiv .websiteName {
  margin-top: 0.4rem;
  font-size: 1.6rem;
  color: white;
}
.maincontainer .pageOne .headerPgOne .rightHeader {
  height: 100%;
  width: 124rem;
  display: flex;
  justify-content: end;
  align-items: center;
}
.maincontainer .pageOne .headerPgOne .rightHeader .navBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontainer .pageOne .headerPgOne .rightHeader .navBar ul li {
  margin: 2rem;
}
.maincontainer .pageOne .headerPgOne .rightHeader .navBar ul li button {
  background-color: transparent;
  border: none;
  padding: 1rem;
}
.maincontainer .pageOne .headerPgOne .rightHeader .navBar ul li a {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: transparent;
  text-decoration: none;
  border: none;
  padding: 1rem;
  color: #fff;
}
.maincontainer .pageOne .headerPgOne .rightHeader .navBar ul li a:visited {
  color: #fff;
}
.maincontainer .pageOne .headerPgOne .rightHeader .navBar ul li a:hover {
  color: #000;
}
.maincontainer .pageOne .headerPgOne .rightHeader .buttonMakeApp {
  margin-right: 2rem;
}
.maincontainer .pageOne .headerPgOne .rightHeader .buttonMakeApp .signButton {
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 1.5rem;
  font-weight: 600;
  background-color: #5bb98b;
  border: none;
}
.maincontainer .pageOne .headerPgOne .rightHeader .buttonMakeApp .signButton .signAnchor {
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.maincontainer .pageOne .headerPgOne .rightHeader .buttonMakeApp .makeAppointmentButton:hover {
  background-color: #17d978;
}
.maincontainer .pageOne .restPgOne {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62rem;
  overflow-y: hidden;
}
.maincontainer .pageOne .restPgOne .leftPgOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 100%;
  overflow-y: hidden;
}
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneUpper {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  height: 25%;
  margin-top: 1.5rem;
}
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneUpper P {
  overflow: hidden;
  font-weight: 600;
}
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneUpper p,
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneUpper b u {
  font-size: 2.5rem;
}
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneUpper b u {
  color: #17d978;
}
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneBottom {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneBottom .imgleftPgOneBottom {
  position: relative;
  height: 43rem;
  width: 30rem;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneBottom .imgleftPgOneBottom::before {
  content: " ";
  position: absolute;
  background-image: url("./image/homePageLeftGrassImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
  height: 43rem;
  width: 30rem;
  box-shadow: 0.5rem 0rem 21px -1rem black, -0.5rem 0rem 10px -1rem black;
  overflow-y: hidden;
  filter: invert(25%) sepia(83%) saturate(412%) hue-rotate(42deg) brightness(68%) contrast(236%);
}
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneBottom .imgleftPgOneBottom .numbersReg {
  position: absolute;
  height: 20%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneBottom .imgleftPgOneBottom .numbersReg .percent {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneBottom .imgleftPgOneBottom .numbersReg .percent p {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneBottom .imgleftPgOneBottom .numbersReg .percentText {
  overflow: hidden;
  width: 80%;
  height: 100%;
  text-align: center;
}
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneBottom .imgleftPgOneBottom .numbersReg .percentText p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneBottom .imgleftPgOneBottom .numbersReg a {
  border: none;
  padding: 2rem;
  width: 15rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 2rem;
  box-shadow: 0.5rem 0rem 21px -1rem black, -0.5rem 0rem 10px -1rem black;
  cursor: pointer;
}
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneBottom .imgleftPgOneBottom .numbersReg a p {
  font-size: 1.7rem;
  font-weight: 500;
}
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneBottom .imgleftPgOneBottom .a {
  top: 10%;
}
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneBottom .imgleftPgOneBottom .b {
  top: 38%;
}
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneBottom .imgleftPgOneBottom .c {
  top: 50%;
}
.maincontainer .pageOne .restPgOne .leftPgOne .leftPgOneBottom .imgleftPgOneBottom .d {
  top: 70%;
}
.maincontainer .pageOne .restPgOne .rightPgOne {
  width: 104rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  overflow-y: hidden;
}
.maincontainer .pageOne .restPgOne .rightPgOne .largeImg {
  height: 85%;
  overflow-y: hidden;
}
.maincontainer .pageOne .restPgOne .rightPgOne .largeImg img {
  height: 48rem;
  width: 98rem;
  margin: 2rem;
  border-radius: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0.5rem 0rem 21px -1rem black, -0.5rem 0rem 10px -1rem black;
}
.maincontainer .pageOne .restPgOne .rightPgOne .actionTab {
  height: 15%;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontainer .pageOne .restPgOne .rightPgOne .actionTab .boxforActions {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  height: 80%;
  width: 85rem;
  box-shadow: 0.5rem 0rem 21px -1rem black, -0.5rem 0rem 10px -1rem black;
}
.maincontainer .pageOne .restPgOne .rightPgOne .actionTab .boxforActions .actions {
  display: flex;
  align-items: center;
  height: 100%;
  width: 20%;
}
.maincontainer .pageOne .restPgOne .rightPgOne .actionTab .boxforActions .actions .svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 30%;
}
.maincontainer .pageOne .restPgOne .rightPgOne .actionTab .boxforActions .actions .actionName {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 40%;
  font-size: 1.5rem;
  font-weight: 300;
}
.maincontainer .pageOne .restPgOne .rightPgOne .actionTab .boxforActions .actions button {
  height: 60%;
  width: 100%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5bb98b;
  border: none;
  border-radius: 2rem;
  color: #fff;
  font-size: 1.1rem;
  padding: 1rem;
  font-weight: 400;
  box-shadow: 0.5rem 0rem 21px -1rem black, -0.5rem 0rem 10px -1rem black;
  cursor: pointer;
  overflow: hidden;
}
.maincontainer .pageOne .restPgOne .rightPgOne .actionTab .boxforActions .actions button .appointmentAnchor {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.maincontainer .pageTwo {
  background: #fdfdfd;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  scroll-snap-align: start;
}
.maincontainer .pageTwo .headerPgTwo {
  height: 3rem;
  display: flex;
  justify-content: left;
  margin-left: 13rem;
  margin-top: 3rem;
}
.maincontainer .pageTwo .headerPgTwo p {
  font-size: 2rem;
  color: #5bb98b;
}
.maincontainer .pageTwo .restPgTwo {
  display: contents;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  overflow-y: hidden;
}
.maincontainer .pageTwo .restPgTwo .rightPgTwoUpper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 100%;
  text-align: left;
}
.maincontainer .pageTwo .restPgTwo .rightPgTwoUpper .rightPgTwoUpperContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.maincontainer .pageTwo .restPgTwo .rightPgTwoUpper .rightPgTwoUpperContent p {
  font-size: 1.3rem;
}
.maincontainer .pageTwo .restPgTwo .rightPgTwoUpper .rightPgTwoUpperContent .leftTopContentPgTwo {
  width: 28%;
  font-weight: 700;
  overflow: hidden;
}
.maincontainer .pageTwo .restPgTwo .rightPgTwoUpper .rightPgTwoUpperContent .leftTopContentPgTwo p {
  font-size: 2.5rem;
  color: #000000;
  padding-left: 10rem;
}
.maincontainer .pageTwo .restPgTwo .rightPgTwoUpper .rightPgTwoUpperContent .leftTopContentPgTwo b u {
  font-size: 2.5rem;
  color: #5bb98b;
  width: 30rem;
}
.maincontainer .pageTwo .restPgTwo .rightPgTwoUpper .rightPgTwoUpperContent .rightTopContentPgTwo {
  margin-right: 5rem;
  width: 65%;
  overflow-y: hidden;
}
.maincontainer .pageTwo .restPgTwo .rightPgTwoUpper .rightPgTwoUpperContent .rightTopContentPgTwo p {
  font-size: 1.4rem;
}
.maincontainer .pageTwo .restPgTwo .pageTwoBottom {
  background-image: url("./image/aboutUsPage.png");
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 148rem;
  margin: 3.5rem 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0.5rem 0rem 21px -1rem black, -0.5rem 0rem 10px -1rem black;
}
.maincontainer .pageTwo .restPgTwo .pageTwoBottom .grassHeader {
  height: 10rem;
  text-align: center;
}
.maincontainer .pageTwo .restPgTwo .pageTwoBottom .grassHeader p {
  overflow: hidden;
  margin-top: 3rem;
  height: 5rem;
}
.maincontainer .pageTwo .restPgTwo .pageTwoBottom .grassHeader b {
  font-size: 3.5rem;
  color: #fdfdfd;
}
.maincontainer .pageTwo .restPgTwo .pageTwoBottom .grassHeader u {
  font-size: 3.5rem;
  color: #5bb98b;
}
.maincontainer .pageTwo .restPgTwo .pageTwoBottom .grassCards {
  display: flex;
}
.maincontainer .pageTwo .restPgTwo .pageTwoBottom .grassCards .childCard {
  display: flex;
  flex-direction: column;
  flex: 0 0 25rem;
  border: 2px;
  background-color: #fff;
  margin-right: 9rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: 20rem;
  width: 20rem;
  border-radius: 1rem;
  text-align: center;
}
.maincontainer .pageTwo .restPgTwo .pageTwoBottom .grassCards .childCard .card-header {
  margin: 2rem;
  font-size: 1.7rem;
}
.maincontainer .pageTwo .restPgTwo .pageTwoBottom .grassCards .childCard .card-content {
  margin: 0 2rem;
  font-size: 1.2rem;
}
.maincontainer .pageTwo .restPgTwo .pageTwoBottom .grassCards .childCard:first-child {
  margin-left: 10rem;
}
.maincontainer .pageTwo .restPgTwo .pageTwoBottom .grassButton {
  text-align: center;
}
.maincontainer .pageTwo .restPgTwo .pageTwoBottom .grassButton button {
  height: 3rem;
  width: 15rem;
  margin-top: 2rem;
  color: #fff;
  border: none;
  background-color: #5bb98b;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0rem 21px -1rem black, -0.5rem 0rem 10px -1rem black;
  cursor: pointer;
}
.maincontainer .pageTwo .restPgTwo .pageTwoBottom .grassButton button a {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.01rem;
  text-decoration: none;
}
.maincontainer .pageThree {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #fdfdfd;
  scroll-snap-align: start;
}
.maincontainer .pageThree .headerPgThree {
  height: 3rem;
  margin-left: 12rem;
}
.maincontainer .pageThree .headerPgThree p {
  font-size: 2rem;
  color: #5bb98b;
  font-weight: bold;
}
.maincontainer .pageThree .pg3Division {
  display: flex;
}
.maincontainer .pageThree .pg3Division .restContentPgThree {
  display: flex;
  flex-direction: column;
}
.maincontainer .pageThree .pg3Division .restContentPgThree .contentHead {
  height: 6rem;
  margin-top: 1.8rem;
  margin-left: 12rem;
  overflow: hidden;
}
.maincontainer .pageThree .pg3Division .restContentPgThree .contentHead p {
  font-size: 3.5rem;
  color: #000000;
  font-weight: 900;
}
.maincontainer .pageThree .pg3Division .restContentPgThree .contentHead u {
  font-size: 3.5rem;
  font-weight: 900;
  color: #5bb98b;
}
.maincontainer .pageThree .pg3Division .restContentPgThree .leftContentPg3 {
  display: flex;
  flex-direction: column;
  margin-left: 12rem;
  margin-top: 2rem;
}
.maincontainer .pageThree .pg3Division .restContentPgThree .leftContentPg3 p {
  overflow: hidden;
  color: rgb(103, 103, 103);
  font-weight: bold;
  font-size: 1.8rem;
}
.maincontainer .pageThree .pg3Division .restContentPgThree .leftContentPg3 .searchConditionPg3 {
  margin-bottom: 5rem;
  margin-top: 5rem;
  overflow: hidden;
}
.maincontainer .pageThree .pg3Division .restContentPgThree .leftContentPg3 .searchConditionPg3 input {
  margin-top: 2rem;
  width: 40rem;
  height: 5rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.1rem solid rgb(117, 117, 117);
  box-shadow: 0.5rem 0rem 21px -1rem black, -0.5rem 0rem 10px -1rem black;
}
.maincontainer .pageThree .pg3Division .restContentPgThree .leftContentPg3 .searchConditionPg3 .searchButtonPg3 {
  width: 10rem;
  height: 4rem;
  margin-left: 5rem;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.3rem;
  border-radius: 1rem;
  border: none;
  background-color: #02492b;
  cursor: pointer;
}
.maincontainer .pageThree .pg3Division .restContentPgThree .leftContentPg3 .injuries {
  display: flex;
  justify-content: flex-start;
  margin-top: 3rem;
}
.maincontainer .pageThree .pg3Division .restContentPgThree .leftContentPg3 .injuries .injuryTitle1 {
  overflow: hidden;
  margin: 0 5rem;
}
.maincontainer .pageThree .pg3Division .restContentPgThree .leftContentPg3 .injuries .injuryTitle1 p {
  margin-bottom: 1.5rem;
  font-weight: 200;
}
.maincontainer .pageThree .pg3Division .restContentPgThree .leftContentPg3 .injuries .injuryTitle1 li {
  margin-top: 1.5rem;
  font-size: 1.3rem;
}
.maincontainer .pageThree .pg3Division .restContentPgThree .leftContentPg3 .injuries .injuryTitle2 {
  margin: 0 5rem;
  overflow: hidden;
}
.maincontainer .pageThree .pg3Division .restContentPgThree .leftContentPg3 .injuries .injuryTitle2 p {
  margin-bottom: 1.5rem;
  font-weight: 200;
}
.maincontainer .pageThree .pg3Division .restContentPgThree .leftContentPg3 .injuries .injuryTitle2 li {
  margin-top: 1.5rem;
  font-size: 1.3rem;
}
.maincontainer .pageThree .pg3Division .imagePg3 {
  flex: 10 0 40rem;
  margin-left: 15rem;
  position: relative;
  overflow: hidden;
  height: 50rem;
}
.maincontainer .pageThree .pg3Division .imagePg3 .bgImagepg3 {
  height: 40rem;
  width: 45rem;
  z-index: 1;
  position: relative;
  top: 10rem;
  left: 32rem;
}
.maincontainer .pageThree .pg3Division .imagePg3 .docImgPg3 {
  position: absolute;
  top: 0rem;
  left: 8rem;
  height: 50rem;
  z-index: 2;
}
.maincontainer .pageThree .HowItWorksFooter {
  display: flex;
  flex-direction: column;
  background-image: url("./image/Page3FooterImage.png");
  height: 20rem;
  width: 160rem;
  margin-top: -4rem;
}
.maincontainer .pageThree .HowItWorksFooter p {
  color: #fff;
  font-size: 2rem;
  margin-left: 12rem;
  margin-top: 3rem;
}
.maincontainer .pageThree .HowItWorksFooter .Pg3FootRest {
  display: flex;
  flex-direction: row;
}
.maincontainer .pageThree .HowItWorksFooter .Pg3FootRest .Pg3FootsubHead {
  color: #54bf8b;
  width: 20rem;
  font-size: 2.5rem;
  margin-left: 12rem;
  margin-top: 3rem;
  font-weight: 900;
}
.maincontainer .pageThree .HowItWorksFooter .Pg3FootRest .locationLogo {
  width: 4rem;
  margin-left: 30rem;
  margin-top: -4rem;
}
.maincontainer .pageThree .HowItWorksFooter .Pg3FootRest .calanderLogo {
  width: 4rem;
  margin-left: 15rem;
  margin-top: -4rem;
}
.maincontainer .pageThree .HowItWorksFooter .Pg3FootRest .Pg3FindDoc {
  display: flex;
  flex-direction: column;
}
.maincontainer .pageThree .HowItWorksFooter .Pg3FootRest .Pg3FindDoc p {
  margin: 0rem 2rem;
  margin-top: 1.5rem;
  margin-right: 5rem;
  width: 22rem;
  font-size: 1.5rem;
}
.maincontainer .pageThree .HowItWorksFooter .Pg3FootRest .Pg3FindDoc b {
  font-size: 1.6rem;
}
.maincontainer .pageThree .HowItWorksFooter .Pg3FootRest .Pg3BookDate {
  display: flex;
  flex-direction: column;
}
.maincontainer .pageThree .HowItWorksFooter .Pg3FootRest .Pg3BookDate p {
  margin: 0rem 2rem;
  margin-top: 1.5rem;
  width: 22rem;
  font-size: 1.5rem;
}
.maincontainer .pageThree .HowItWorksFooter .Pg3FootRest .Pg3BookDate b {
  font-size: 1.6rem;
}
.maincontainer .pageFour {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #051f09;
  scroll-snap-align: start;
  height: 100vh;
}
.maincontainer .pageFour .headerPgFour {
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
  color: #54bf8b;
  margin: 3rem;
  overflow: hidden;
}
.maincontainer .pageFour .headerPgFour p {
  color: #fff;
  font-size: 2.5rem;
}
.maincontainer .pageFour .headerPgFour u {
  color: #54bf8b;
  font-size: 2.5rem;
}
.maincontainer .pageFour .pg4ReadMore {
  color: #fff;
  height: 4.5rem;
  width: 25rem;
  overflow: hidden;
  background-color: #54bf8b;
}
.maincontainer .pageFour .pg4ReadMore a {
  font-size: 2rem;
  font-weight: 900;
}
.maincontainer .pageFour .cardsPg4 {
  display: flex;
  width: 150rem;
  overflow: hidden;
}
.maincontainer .pageFour .cardsPg4 .cardsRow {
  width: 60rem;
  display: flex;
  flex-direction: column;
}
.maincontainer .pageFour .cardsPg4 .cardsRow .card {
  width: 35rem;
  height: 22rem;
  background-color: #fff;
  border: 2px;
  margin-bottom: 5rem;
  margin-left: 6rem;
  border-radius: 1.5rem;
  text-align: center;
  padding: 1rem;
}
.maincontainer .pageFour .cardsPg4 .cardsRow .card h3 {
  font-family: sans-serif;
  font-size: 2.5rem;
  text-align: left;
  margin: 1.2rem 2rem;
}
.maincontainer .pageFour .cardsPg4 .cardsRow .card p {
  font-size: 1.4rem;
  text-align: left;
  margin: 0 2rem;
}
.maincontainer .pageFour .cardsPg4 .pg4Img {
  width: 75rem;
  height: 62rem;
  margin-top: -7rem;
}
.maincontainer .pageFive {
  position: relative;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}
.maincontainer .pageFive::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./image/pageFiveBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(30%);
}
.maincontainer .pageFive .upperPgFive {
  position: relative;
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontainer .pageFive .upperPgFive .pgfULeft {
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.maincontainer .pageFive .upperPgFive .pgfULeft .pfgULeftBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  margin-top: 3rem;
  height: 100%;
  width: 90%;
}
.maincontainer .pageFive .upperPgFive .pgfULeft .pfgULeftBox .pgfTitle {
  height: 20%;
  width: 100%;
}
.maincontainer .pageFive .upperPgFive .pgfULeft .pfgULeftBox .pgfTitle p {
  color: var(--text-btn-main-color);
  font-size: 3.3rem;
  font-weight: bold;
}
.maincontainer .pageFive .upperPgFive .pgfULeft .pfgULeftBox .pgfAbtUs {
  height: 20%;
  width: 100%;
}
.maincontainer .pageFive .upperPgFive .pgfULeft .pfgULeftBox .pgfAbtUs p {
  color: #fff;
  font-size: 2.2rem;
  font-weight: bold;
}
.maincontainer .pageFive .upperPgFive .pgfULeft .pfgULeftBox .pgfAbtUs p span {
  font-size: 2.2rem;
  color: var(--text-btn-main-color);
  text-decoration: underline;
}
.maincontainer .pageFive .upperPgFive .pgfULeft .pfgULeftBox .pgfReview {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.maincontainer .pageFive .upperPgFive .pgfULeft .pfgULeftBox .pgfReview .customerReview {
  height: 50%;
  width: 100%;
}
.maincontainer .pageFive .upperPgFive .pgfULeft .pfgULeftBox .pgfReview .customerReview p {
  font-size: 2rem;
  color: #fff;
}
.maincontainer .pageFive .upperPgFive .pgfULeft .pfgULeftBox .pgfReview .customerName {
  height: 20%;
  width: 100%;
}
.maincontainer .pageFive .upperPgFive .pgfULeft .pfgULeftBox .pgfReview .customerName p {
  font-size: 2rem;
  color: #fff;
}
.maincontainer .pageFive .upperPgFive .pgfULeft .pfgULeftBox .pgfReview .nextCustomer {
  height: 30%;
  width: 100%;
}
.maincontainer .pageFive .upperPgFive .pgfULeft .pfgULeftBox .pgfReview .nextCustomer button {
  background: transparent;
  border: transparent;
  cursor: pointer;
}
.maincontainer .pageFive .upperPgFive .pgfULeft .pfgULeftBox .pgfReview .nextCustomer button img {
  height: 4rem;
}
.maincontainer .pageFive .upperPgFive .pgfULeft .pfgULeftBox .pgfReview .nextCustomer button .pg5active {
  border-radius: 2rem;
  background-color: var(--text-btn-main-color);
}
.maincontainer .pageFive .upperPgFive .pgfURight {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontainer .pageFive .upperPgFive .pgfURight .pgfRightDiv {
  height: 90%;
  width: 80%;
  position: relative;
}
.maincontainer .pageFive .upperPgFive .pgfURight .pgfRightDiv .pgfRightImgOne {
  position: absolute;
  margin: 8rem;
  margin-top: 10rem;
  height: 60%;
  width: 60%;
  background-image: url("./image/pageFiveRad.png");
  box-shadow: 0px 4px 66px 48px rgba(0, 0, 0, 0.25);
  border-radius: 0rem 12rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.maincontainer .pageFive .upperPgFive .pgfURight .pgfRightDiv .pgfRightImgTwo {
  position: absolute;
  height: 80%;
  width: 100%;
  top: 10px;
  right: 127px;
  background-image: url("./image/pageFivePatient.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.maincontainer .pageFive .lowerPgFive {
  position: relative;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontainer .pageFive .lowerPgFive .pgfLDiv {
  background: hsla(151, 100%, 8%, 0.72);
  height: 80%;
  width: 80%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}
.maincontainer .pageFive .lowerPgFive .pgfLDiv .pg5Tag {
  margin-top: 1rem;
  height: 30%;
}
.maincontainer .pageFive .lowerPgFive .pgfLDiv .pg5Tag b p {
  color: #fff;
  font-size: 2rem;
}
.maincontainer .pageFive .lowerPgFive .pgfLDiv .down4Div {
  height: 20%;
}
.maincontainer .pageFive .lowerPgFive .pgfLDiv .down4Div p {
  color: #fff;
  font-size: 1.5rem;
}
.maincontainer .pageFive .lowerPgFive .pgfLDiv .pg5BtnDiv {
  height: 30%;
}
.maincontainer .pageFive .lowerPgFive .pgfLDiv .pg5BtnDiv button {
  border: none;
  padding: 1rem;
  border-radius: 2rem 0.1rem;
  background-color: #54bf8b;
}
.maincontainer .pageFive .lowerPgFive .pgfLDiv .pg5BtnDiv button p {
  text-align: center;
  color: #000;
  font-size: 1.5rem;
}
.maincontainer .pageFive .lowerPgFive .pgfLDiv .pg5BtnDiv button p .appointmentAnchor {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.maincontainer .pageSix {
  height: 100vh;
  width: 100vw;
  position: relative;
  scroll-snap-align: start;
}
.maincontainer .pageSix::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./image/pgsixBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(30%);
}
.maincontainer .pageSix .pgsUpper {
  position: relative;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.maincontainer .pageSix .pgsUpper .pgstitle {
  height: 100%;
  width: 80%;
  margin-top: 5rem;
}
.maincontainer .pageSix .pgsUpper .pgstitle p {
  color: #fff;
  font-size: 7rem;
  text-align: center;
}
.maincontainer .pageSix .pgsUpper .pgstitle p span {
  color: var(--text-btn-main-color);
  font-size: 7rem;
}
.maincontainer .pageSix .pgsLower {
  position: relative;
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontainer .pageSix .pgsLower .pgsQustionAnswers {
  height: 90%;
  width: 90%;
}
.maincontainer .pageSix .pgsLower .pgsQustionAnswers .question {
  position: relative;
  height: 25%;
  width: 100%;
  background-color: #002b00;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.maincontainer .pageSix .pgsLower .pgsQustionAnswers .question .pgsQLeft {
  position: absolute;
  height: 50%;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: #3f9169;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 2%;
  left: 3%;
}
.maincontainer .pageSix .pgsLower .pgsQustionAnswers .question .pgsQLeft1 {
  position: absolute;
  height: 50%;
  width: 100%;
  font-size: 1.5rem;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 40%;
  left: 3%;
}
.maincontainer .pageSix .pgsLower .pgsQustionAnswers .inactive {
  background-color: #fff;
  border: 1rem solid var(--text-btn-main-color);
}
.maincontainer .footerMainDiv {
  height: 50vh;
  width: 100vw;
  position: relative;
  scroll-snap-align: start;
}
.maincontainer .footerMainDiv::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./image/footerBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(40%);
}
.maincontainer .footerMainDiv .footerUpper {
  position: relative;
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontainer .footerMainDiv .footerUpper .footerLinksLogos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  padding: 1rem;
}
.maincontainer .footerMainDiv .footerUpper .footerLinksLogos .footerTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 25%;
  width: 100%;
}
.maincontainer .footerMainDiv .footerUpper .footerLinksLogos .footerTitle img {
  height: 90%;
}
.maincontainer .footerMainDiv .footerUpper .footerLinksLogos .footerTitle .green {
  filter: invert(70%) sepia(14%) saturate(1270%) hue-rotate(98deg) brightness(91%) contrast(92%);
}
.maincontainer .footerMainDiv .footerUpper .footerLinksLogos .footerTitle p {
  font-size: 2rem;
  color: #fff;
  margin-left: 2rem;
}
.maincontainer .footerMainDiv .footerUpper .footerLinksLogos .footerQuote {
  height: 15%;
  width: 100%;
  font-size: 1.3rem;
  color: #fff;
  margin-left: 17rem;
}
.maincontainer .footerMainDiv .footerUpper .footerLinksLogos .contacts {
  height: 15%;
  width: 100%;
  color: #fff;
  margin-left: 17rem;
}
.maincontainer .footerMainDiv .footerUpper .footerLinksLogos .contacts p {
  font-size: 1.3rem;
}
.maincontainer .footerMainDiv .footerUpper .footerLinksLogos .followUsOn {
  height: 45%;
  width: 100%;
  margin-top: 3rem;
}
.maincontainer .footerMainDiv .footerUpper .footerLinksLogos .followUsOn .followHeading {
  height: 30%;
  width: 100%;
  color: #fff;
  margin-left: 8.7rem;
  font-size: 2rem;
  font-weight: bolder;
}
.maincontainer .footerMainDiv .footerUpper .footerLinksLogos .followUsOn .followIcons {
  height: 70%;
  width: 100%;
  position: relative;
}
.maincontainer .footerMainDiv .footerUpper .footerLinksLogos .followUsOn .followIcons a {
  position: absolute;
  height: 70%;
  left: 15%;
  cursor: pointer;
}
.maincontainer .footerMainDiv .footerUpper .footerLinksLogos .followUsOn .followIcons a img {
  height: 70%;
}
.maincontainer .footerMainDiv .footerUpper .footerLinksLogos .followUsOn .followIcons a .green {
  filter: invert(70%) sepia(14%) saturate(1270%) hue-rotate(98deg) brightness(91%) contrast(92%);
}
.maincontainer .footerMainDiv .footerUpper .footerAboutUs,
.maincontainer .footerMainDiv .footerUpper .footerTreatment,
.maincontainer .footerMainDiv .footerUpper .footerMore {
  height: 100%;
  width: 20%;
}
.maincontainer .footerMainDiv .footerUpper .footerAboutUs .heading,
.maincontainer .footerMainDiv .footerUpper .footerTreatment .heading,
.maincontainer .footerMainDiv .footerUpper .footerMore .heading {
  height: 30%;
  width: 100%;
}
.maincontainer .footerMainDiv .footerUpper .footerAboutUs .heading p,
.maincontainer .footerMainDiv .footerUpper .footerTreatment .heading p,
.maincontainer .footerMainDiv .footerUpper .footerMore .heading p {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  margin-top: 3rem;
  text-align: center;
}
.maincontainer .footerMainDiv .footerUpper .footerAboutUs .content,
.maincontainer .footerMainDiv .footerUpper .footerTreatment .content,
.maincontainer .footerMainDiv .footerUpper .footerMore .content {
  height: 70%;
  width: 100%;
}
.maincontainer .footerMainDiv .footerUpper .footerAboutUs .content p,
.maincontainer .footerMainDiv .footerUpper .footerTreatment .content p,
.maincontainer .footerMainDiv .footerUpper .footerMore .content p {
  font-size: 1.5rem;
  color: #fff;
  margin-left: 36%;
  line-height: 200%;
}
.maincontainer .footerMainDiv .footerUpper .footerTreatment .heading p {
  margin-left: 4%;
}
.maincontainer .footerMainDiv .footerUpper .footerMore .heading p {
  margin-right: 13%;
}
.maincontainer .footerMainDiv .footerLower {
  position: relative;
  height: 15%;
  width: 100%;
  overflow: hidden;
}
.maincontainer .footerMainDiv .footerLower p {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 45%;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}
.maincontainer .footerMainDiv .footerLower::before {
  content: " ";
  position: absolute;
  height: 13%;
  border-radius: 2rem;
  width: 80%;
  left: 10%;
  bottom: 70%;
  background-color: #056703;
}/*# sourceMappingURL=style.css.map */