@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --white: #ffffff;
  --black: #000000;
  --teal: #09a7a1;
  --orange: #ff8000;
  --raspbarry: #ff007a;
  --neon-pink: #ff14bd;
  --cream-brown: #31202b;
  --cyan: #00ffff;
  --midnight-voilet: #1f242d;
  --groung-green: #07252d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  overflow-x: hidden;
}
.maincontainer {
  height: 100vh;
  width: 100vw;

  .pageOne {
    background: linear-gradient(to bottom, #d6fce4, #fdfdfd);
    overflow: hidden;

    .headerPgOne {
      height: 10rem;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .leftHeader {
        height: 100%;
        width: 30rem;
        /* background-color: var(--raspbarry); */
        display: flex;
        flex-direction: row;

        .logoSvgDiv {
          padding: 1rem 0rem 0rem 1rem;
          .svgLogo {
            height: 5rem;
          }
        }

        .textlogoDiv {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .heartPulseImgDiv {
            .heartPulseImg {
              height: 5.2rem;
            }
          }

          .websiteNameDiv {
            .websiteName {
              margin-top: 0.4rem;
              font-size: 1.6rem;
            }
          }
        }
      }

      .rightHeader {
        height: 100%;
        width: 124rem;
        display: flex;
        justify-content: end;
        align-items: center;
        // background-color: var(--cream-brown);

        .navBar {
          ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
              margin: 2rem;
              button {
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: 500;
                background-color: transparent;
                border: none;
                padding: 1rem;
              }
            }
          }
        }
        .buttonMakeApp {
          margin-right: 2rem;
          .makeAppointmentButton {
            cursor: pointer;
            padding: 1.5rem;
            border-radius: 1.5rem;
            font-size: 1.5rem;
            background-color: #5bb98b;
            border: none;
          }
        }
      }
    }

    .restPgOne {
      /* background-color: red; */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 62rem;
      overflow-y: hidden;

      .leftPgOne {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50rem;
        height: 100%;
        overflow-y: hidden;

        .leftPgOneUpper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          // line-height: 2.7rem;
          height: 20%;
          margin-top: 1rem;
          P {
            overflow: hidden;
          }
          p,
          b u {
            font-size: 2.5rem;
          }
          b u {
            color: #5bb98b;
          }
        }

        .leftPgOneBottom {
          height: 80%;
          display: flex;
          // flex-direction: column;
          justify-content: center;
          align-items: center;
          overflow-y: hidden;
          .imgleftPgOneBottom {
            //Background Img
            background-image: url("./image/homePageLeftGrassImage.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 2rem;
            height: 43rem;
            width: 30rem;
            box-shadow: 0.5rem 0rem 21px -1rem black,
              -0.5rem 0rem 10px -1rem black;
            overflow-y: hidden;

            //Inner Div
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .numbersReg {
              // color: #fff;
              height: 20%;
              width: 80%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              .percent {
                overflow: hidden;
                width: 100%;
                height: 100%;
                p {
                  text-align: center;
                  font-size: 3rem;
                  font-weight: 600;
                }
              }

              .percentText {
                overflow: hidden;
                width: 100%;
                height: 100%;
                p {
                  font-size: 1.5rem;
                  font-weight: 400;
                }
              }

              button {
                border: none;
                padding: 2rem;
                width: 15rem;
                font-size: 1.7rem;
                font-weight: 500;
                border-radius: 2rem;
                box-shadow: 0.5rem 0rem 21px -1rem black,
                  -0.5rem 0rem 10px -1rem black;
                cursor: pointer;
              }
            }
          }
        }
      }
      .rightPgOne {
        width: 104rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        overflow-y: hidden;

        .largeImg {
          height: 85%;
          overflow-y: hidden;
          img {
            height: 48rem;
            width: 98rem;
            margin: 2rem;
            border-radius: 2rem;
            object-fit: cover;
            box-shadow: 0.5rem 0rem 21px -1rem black,
              -0.5rem 0rem 10px -1rem black;
          }
        }

        .actionTab {
          height: 15%;
          margin-bottom: 1rem;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .boxforActions {
            display: flex;
            align-items: center;
            background-color: #f8f8f8;
            height: 80%;
            width: 85rem;
            box-shadow: 0.5rem 0rem 21px -1rem black,
              -0.5rem 0rem 10px -1rem black;
            .actions {
              display: flex;
              // justify-content:space-around;
              align-items: center;
              height: 100%;
              width: 20%;
              
              .svg{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80%;
                width: 30%;
              }
              
              .actionName{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80%;
                width: 40%;
                font-size: 1.5rem;
                font-weight: 300;
              }
              
              button{
                height: 60%;
                width: 100%;
                margin-right: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #5bb98b;
                border: none;
                border-radius: 2rem;
                color: #fff;
                font-size: 1.1rem;
                padding: 1rem;
                font-weight: 400;
                box-shadow: 0.5rem 0rem 21px -1rem black,
                  -0.5rem 0rem 10px -1rem black;
                  cursor: pointer;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
  .pageTwo {
    background: #fdfdfd;

    .headerPgTwo {
      height: 3rem;
      display: flex;
      justify-content: left;
      margin-left: 12rem;
      margin-top: 10rem;

      p {
        font-size: 2rem;
        color: #5bb98b;
      }
    }

    .restPgTwo {
      display: contents;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 10rem;
      overflow-y: hidden;

      .rightPgTwoUpper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20rem;
        width: 100%;
        text-align: left;

        .rightPgTwoUpperContent {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          p {
            font-size: 1.3rem;
          }

          .leftTopContentPgTwo {
            width: 30%;
            font-weight: 700;
            overflow: hidden;

            p {
              font-size: 2.5rem;
              color: #000000;
              padding-left: 10rem;
            }
            b u {
              font-size: 2.5rem;
              color: #5bb98b;
              width: 30rem;
            }
          }
          .rightTopContentPgTwo {
            margin-right: 5rem;
            width: 65%;
            overflow-y: hidden;

            p {
              font-size: 1.4rem;
            }
          }
        }
      }

      .pageTwoBottom {
        background-image: url("./image/aboutUsPage.png");
        display: flex;
        flex-direction: column;
        // justify-content: flex-start;
        // align-items: center;
        // overflow: hidden;
        height: 40rem;
        width: 148rem;
        margin: 3.5rem 5rem;
        object-fit: cover;
        box-shadow: 0.5rem 0rem 21px -1rem black, -0.5rem 0rem 10px -1rem black;

        .grassHeader{
          height: 10rem;
          text-align: center;

          p {
            overflow: hidden;
            margin-top: 3rem;
            height: 5rem;
          }
  
          b {
            font-size: 3.5rem;
            color: #fdfdfd;
          }
  
          u {
            font-size: 3.5rem;
            color: #5bb98b;
          }
        }

        .grassCards{
          display: flex;

          .childCard{
            display: flex;
            flex-direction: column;
            flex: 0 0 25rem;
            border: 2px;
            background-color: #fff;
            margin-right: 9rem;
            margin-top: 2rem;
            margin-bottom: 1rem;
            height: 20rem;
            width: 20rem;
            border-radius: 1rem;
            text-align: center;
          }

          .childCard:first-child{
            margin-left: 10rem;
          }
        }

        .grassButton{
          text-align: center;

          button {
            height: 3rem;
            width: 15rem;
            margin-top: 2rem;
            font-size: 1.5rem;
            color: #fff;
            border: none;
            background-color: #5bb98b;
            font-weight: bold;
            letter-spacing: 0.2rem;
            border-radius: 0.5rem;
            box-shadow: 0.5rem 0rem 21px -1rem black,
                    -0.5rem 0rem 10px -1rem black;
                    cursor: pointer;
          }
        }
      }
    }
  }
}
