@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --white: #ffffff;
  --black: #000000;
  --teal: #09a7a1;
  --orange: #ff8000;
  --raspbarry: #ff007a;
  --neon-pink: #ff14bd;
  --cream-brown: #31202b;
  --cyan: #00ffff;
  --midnight-voilet: #1f242d;
  --groung-green: #07252d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
}
.container .pageOne {
  background: linear-gradient(to bottom, #d6fce4, #fdfdfd);
  overflow: hidden;
}
.container .pageOne .headerPgOne {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container .pageOne .headerPgOne .leftHeader {
  height: 100%;
  width: 30rem;
  /* background-color: var(--raspbarry); */
  display: flex;
  flex-direction: row;
}
.container .pageOne .headerPgOne .leftHeader .logoSvgDiv {
  padding: 1rem 0rem 0rem 1rem;
}
.container .pageOne .headerPgOne .leftHeader .logoSvgDiv .svgLogo {
  height: 5rem;
}
.container .pageOne .headerPgOne .leftHeader .textlogoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .pageOne .headerPgOne .leftHeader .textlogoDiv .heartPulseImgDiv .heartPulseImg {
  height: 5.2rem;
}
.container .pageOne .headerPgOne .leftHeader .textlogoDiv .websiteNameDiv .websiteName {
  margin-top: 0.4rem;
  font-size: 1.6rem;
}
.container .pageOne .headerPgOne .rightHeader {
  height: 100%;
  width: 124rem;
  display: flex;
  justify-content: end;
  align-items: center;
}
.container .pageOne .headerPgOne .rightHeader .navBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .pageOne .headerPgOne .rightHeader .navBar ul li {
  margin: 2rem;
}
.container .pageOne .headerPgOne .rightHeader .navBar ul li button {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
  padding: 1rem;
}
.container .pageOne .headerPgOne .rightHeader .buttonMakeApp {
  margin-right: 2rem;
}
.container .pageOne .headerPgOne .rightHeader .buttonMakeApp .makeAppointmentButton {
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  background-color: #5bb98b;
  border: none;
}
.container .pageOne .restPgOne {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62rem;
  overflow-y: hidden;
}
.container .pageOne .restPgOne .leftPgOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 100%;
  overflow-y: hidden;
}
.container .pageOne .restPgOne .leftPgOne .leftPgOneUpper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20%;
  margin-top: 1rem;
}
.container .pageOne .restPgOne .leftPgOne .leftPgOneUpper P {
  overflow: hidden;
}
.container .pageOne .restPgOne .leftPgOne .leftPgOneUpper p,
.container .pageOne .restPgOne .leftPgOne .leftPgOneUpper b u {
  font-size: 2.5rem;
}
.container .pageOne .restPgOne .leftPgOne .leftPgOneUpper b u {
  color: #5bb98b;
}
.container .pageOne .restPgOne .leftPgOne .leftPgOneBottom {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.container .pageOne .restPgOne .leftPgOne .leftPgOneBottom .imgleftPgOneBottom {
  padding: 1rem;
}
.container .pageOne .restPgOne .leftPgOne .leftPgOneBottom .imgleftPgOneBottom img {
  border-radius: 2rem;
  height: 43rem;
  width: 30rem;
  box-shadow: 0.5rem 0rem 21px -1rem black, -0.5rem 0rem 10px -1rem black;
  overflow-y: hidden;
}
.container .pageOne .restPgOne .rightPgOne {
  width: 104rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  overflow-y: hidden;
}
.container .pageOne .restPgOne .rightPgOne .largeImg {
  height: 85%;
  overflow-y: hidden;
}
.container .pageOne .restPgOne .rightPgOne .largeImg img {
  height: 48rem;
  width: 98rem;
  margin: 2rem;
  border-radius: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0.5rem 0rem 21px -1rem black, -0.5rem 0rem 10px -1rem black;
}
.container .pageOne .restPgOne .rightPgOne .actionTab {
  height: 15%;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .pageOne .restPgOne .rightPgOne .actionTab .boxforActions {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  height: 80%;
  width: 85rem;
  box-shadow: 0.5rem 0rem 21px -1rem black, -0.5rem 0rem 10px -1rem black;
}
.container .pageTwo {
  background: #fdfdfd;
}
.container .pageTwo .headerPgTwo {
  height: 3rem;
  display: flex;
  justify-content: left;
  margin-left: 12rem;
  margin-top: 10rem;
}
.container .pageTwo .headerPgTwo p {
  font-size: 2rem;
  color: #5bb98b;
}
.container .pageTwo .restPgTwo {
  display: contents;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  overflow-y: hidden;
}
.container .pageTwo .restPgTwo .rightPgTwoUpper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 100%;
  text-align: left;
}
.container .pageTwo .restPgTwo .rightPgTwoUpper .rightPgTwoUpperContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container .pageTwo .restPgTwo .rightPgTwoUpper .rightPgTwoUpperContent p {
  font-size: 1.3rem;
}
.container .pageTwo .restPgTwo .rightPgTwoUpper .rightPgTwoUpperContent .leftTopContentPgTwo {
  width: 30%;
  font-weight: 700;
  overflow: hidden;
}
.container .pageTwo .restPgTwo .rightPgTwoUpper .rightPgTwoUpperContent .leftTopContentPgTwo p {
  font-size: 2.5rem;
  color: #000000;
  padding-left: 10rem;
}
.container .pageTwo .restPgTwo .rightPgTwoUpper .rightPgTwoUpperContent .leftTopContentPgTwo b u {
  font-size: 2.5rem;
  color: #5bb98b;
  width: 30rem;
}
.container .pageTwo .restPgTwo .rightPgTwoUpper .rightPgTwoUpperContent .rightTopContentPgTwo {
  margin-right: 5rem;
  width: 65%;
  overflow-y: hidden;
}
.container .pageTwo .restPgTwo .rightPgTwoUpper .rightPgTwoUpperContent .rightTopContentPgTwo p {
  font-size: 1.4rem;
}
.container .pageTwo .restPgTwo .pageTwoBottom {
  background-image: url("./image/aboutUsPage.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  height: 40rem;
  width: 148rem;
  margin: 3.5rem 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0.5rem 0rem 21px -1rem black, -0.5rem 0rem 10px -1rem black;
}
.container .pageTwo .restPgTwo .pageTwoBottom p {
  overflow: hidden;
  margin-top: 3rem;
  height: 5rem;
}
.container .pageTwo .restPgTwo .pageTwoBottom b {
  font-size: 3.5rem;
  color: #fdfdfd;
}
.container .pageTwo .restPgTwo .pageTwoBottom u {
  font-size: 3.5rem;
  color: #5bb98b;
}
.container .pageTwo .restPgTwo .pageTwoBottom button {
  height: 30px;
  width: 150px;
  margin-top: 25rem;
  font-size: 1.5rem;
}/*# sourceMappingURL=style.css.map */