@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --white: #ffffff;
  --black: #000000;
  --teal: #09a7a1;
  --orange: #ff8000;
  --raspbarry: #ff007a;
  --neon-pink: #ff14bd;
  --cream-brown: #31202b;
  --cyan: #00ffff;
  --midnight-voilet: #1f242d;
  --groung-green: #07252d;
  --text-btn-main-color: #54bf8b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  overflow: hidden;
}

.maincontainer {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #024524, #fdfdfd);
}
.maincontainer .headerPgOne {
  height: 10%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
}
.maincontainer .headerPgOne .leftHeader {
  height: 100%;
  width: 30rem;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.maincontainer .headerPgOne .leftHeader .logoSvgDiv {
  padding: 1rem 0rem 0rem 1rem;
}
.maincontainer .headerPgOne .leftHeader .logoSvgDiv .svgLogo {
  height: 4rem;
}
.maincontainer .headerPgOne .leftHeader .textlogoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.maincontainer .headerPgOne .leftHeader .textlogoDiv .heartPulseImgDiv .heartPulseImg {
  height: 4rem;
  margin-top: 5px;
}
.maincontainer .headerPgOne .leftHeader .textlogoDiv .websiteNameDiv .websiteName {
  margin-top: 0.2rem;
  font-size: 1.3rem;
  color: black;
}
.maincontainer .headerPgOne .rightHeader {
  height: 100%;
  width: 124rem;
  display: flex;
  justify-content: end;
  align-items: center;
}
.maincontainer .headerPgOne .rightHeader .navBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontainer .headerPgOne .rightHeader .navBar ul li {
  margin: 2rem;
}
.maincontainer .headerPgOne .rightHeader .navBar ul li button {
  background-color: white;
  border: none;
  padding: 1rem;
}
.maincontainer .headerPgOne .rightHeader .navBar ul li a {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: black;
}
.maincontainer .headerPgOne .rightHeader .navBar ul li a:visited {
  color: black;
}
.maincontainer .headerPgOne .rightHeader .navBar ul li a:hover {
  color: #0e5b36;
  font-size: large;
}
.maincontainer .headerPgOne .rightHeader .buttonMakeApp {
  margin-right: 2rem;
}
.maincontainer .headerPgOne .rightHeader .buttonMakeApp .makeAppointmentButton {
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 1.5rem;
  font-weight: 200;
  background-color: #5bb98b;
  border: none;
}
.maincontainer .headerPgOne .rightHeader .buttonMakeApp .makeAppointmentButton .appointmentAnchor {
  color: black;
  font-weight: 600;
  font-size: 1.3rem;
  background-color: transparent;
  text-decoration: none;
}
.maincontainer .headerPgOne .rightHeader .buttonMakeApp .makeAppointmentButton:hover {
  background-color: #17d978;
}

.maincontainer .restPg {
    display: flex;
    flex-direction: row;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.maincontainer .restPg .left {
    height: 89%;
    width: 40%;
    margin-left: 7%;
}

.maincontainer .restPg .right {
    margin-left: 10%;
    height: 89%;
    width: 50%;
    margin-top: 1%;
}

.maincontainer .restPg .left .Heading {
    margin-top: 8%;
}
.maincontainer .restPg .left .Heading p{
    font-size: 3.8rem;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.maincontainer .restPg .left .Heading .heading_green{
  font-size: 4rem;
  font-weight: 900;
  color: #1c8b55;
  font-family: 'Poppins', sans-serif;
}

.maincontainer .restPg .left .information p {
    font-family: 'Poppins', sans-serif;
    width: 95%;
    font-size: 1.5rem;
}

 .maincontainer .restPg .right .upper,
.lower {
    display: flex;
    flex-direction: row;
}

.maincontainer .restPg .right .right-right , .right-left{
  box-shadow: 2px 2px 5px 0.5px #292929;
    background-color: rgb(193, 206, 201);
    margin: 10px;
    border: none;
    width: 280px;
    line-height: 1.5;
    border-radius: 3px;
    margin-left: 9%;
    font-size: small;
    text-align: left;
    padding: 16px;
}

.maincontainer .restPg .right .right-right {
  box-shadow: 2px 2px 5px 0.5px #292929;
    margin-left: 1.5%;
}

 .maincontainer .restPg  .right .right_image {
    margin-top: 6%;
}

 .maincontainer .restPg .right .right_image img {
    border-radius: 100%;
}

.maincontainer .restPg .right .para p {
    font-family: 'Poppins', sans-serif;
    margin-top: 1%;
    font-size: 1.25rem;
    line-height: 1.5;
}
.maincontainer .restPg .right .para h3 {
    font-family: 'Poppins', sans-serif;
    margin-top: 8%;
    font-size: 1.5rem;
    line-height: 1.5;
}

.maincontainer .restPg .left .left_image{
    display: flex;
}

.maincontainer .restPg .left .left_image .female_image {
  flex: 50%;
  margin-left: -10%;
  width: 100%;
}
.maincontainer .restPg .left .left_image .male_image {
  flex: 50%;
  margin-top: -5%;
  margin-left: -15%;
}