@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--white: #ffffff;
	--black: #000000;
	--teal: #09a7a1;
	--orange: #ff8000;
	--raspbarry: #ff007a;
	--neon-pink: #ff14bd;
	--cream-brown: #31202b;
	--cyan: #00ffff;
	--midnight-voilet: #1f242d;
	--groung-green: #07252d;
	--text-btn-main-color: #54bf8b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
	overflow: hidden;
}

.maincontainer {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
}

.maincontainer .signUpPg {
	height: 100%;
	width: 65%;
	display: flex;
	flex-direction: column;
	background-color: var(--white);
}

.maincontainer .signUpPg .Title {
	height: 7%;
}

.maincontainer .signUpPg .Title {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.maincontainer .Title .svgLogo {
	padding: 1rem 1rem 1rem 1rem;
	height: 45px;
}

.maincontainer .signUpPg .Title .websitename {
	font-size: 25px;
	color: var(--black);
}

.maincontainer .signUpPg .form {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.maincontainer .signUpPg .form .heading {
	font-size: 40px;
	color: var(--black);
}

.maincontainer .signUpPg .form .formContent {
	height: 66%;
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.maincontainer .signUpPg .form .formContent form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.maincontainer .signUpPg .form .formContent input {
	display: block;
	margin-top: 1.6rem;
	margin-bottom: 1rem;
	padding: 2.2rem;
	background-color: rgb(240, 240, 235);
	border: none;
	border-radius: 20px;
	height: 5rem;
	width: 40rem;
	font-size: 15px;
	font-weight: 600;
}

.maincontainer .signUpPg .form button[type='submit'] {
	cursor: pointer;
	padding: 0.9rem;
	margin-top: 3.2rem;
	width: 20rem;
	height: 4rem;
	border-radius: 1.2rem;
	font-size: 16px;
	font-weight: 800;
	background-color: var(--text-btn-main-color);
	border: none;
	color: white;
}

.maincontainer .signUpPg .form button[type='submit']:hover {
	background-color: #17d978;
}

.maincontainer .signInPg {
	height: 100%;
	width: 35%;
	background-color: #5bb98b;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url('../../../../client/image/signUpBg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.maincontainer .signInPg .signInContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	margin-top: 20%;
}

.maincontainer .signInPg .signInContent .heading {
	padding: 5%;
}

.maincontainer .signInPg .signInContent .heading h1 {
	font-size: 3.6rem;
	font-weight: 800;
}

.maincontainer .signInPg .signInContent .content {
	padding: 4%;
}

.maincontainer .signInPg .signInContent .content h3 {
	font-size: 1.8rem;
}

.maincontainer .signInPg .signInContent .btn {
	background-color: white;
	padding: 1.5% 10% 2.2% 10%;
	border-radius: 8px;
	justify-content: center;
	align-items: center;
}

.maincontainer .signInPg .signInContent .btn a {
	color: black;
	font-size: 1.5rem;
	font-weight: 600;
	text-decoration: none;
}

.maincontainer .signInPg .signInContent .btn:hover {
	background-color: rgb(236, 235, 134);
}

.maincontainer .signInPg .signInContent .doctorImg img {
	margin-top: 20%;
	height: 80%;
	width: 100%;
}
