<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/about_us.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="icon" href="../../svg/webLogoRed.svg" type="image/x-icon" />
  <title>About_Us</title>
</head>

<body>
  <div class="maincontainer">
    <div class="headerPgOne">
      <div class="leftHeader">
        <div class="logoSvgDiv">
          <img src="../../svg/webLogo.svg" class="svgLogo" />
        </div>
        <div class="textlogoDiv">
          <div class="heartPulseImgDiv">
            <img src="../../image/heart pulse.png" class="heartPulseImg" />
          </div>
          <div class="websiteNameDiv">
            <h3 class="websiteName">Healthy HearTechs</h3>
          </div>
        </div>
      </div>
      <div class="rightHeader">
        <div class="navBar">
          <ul>
            <li>
              <button><a href="../../index.html">Home</a></button>
            </li>
            <li>
              <button><a href="../../index.html">About Us</a></button>
            </li>
            <li>
              <button><a href="../../index.html">Service</a></button>
            </li>
            <li>
              <button><a href="../../index.html">Blog</a></button>
            </li>
            <li>
              <button><a href="../../index.html">Testmonial</a></button>
            </li>
            <li>
              <button><a href="../../index.html">FAQ</a></button>
            </li>
            <li>
              <button><a href="../../index.html">Contact</a></button>
            </li>
          </ul>
        </div>
        <div class="buttonMakeApp">
          <button class="makeAppointmentButton">
            <a Appointment class="appointmentAnchor" href="./historyUpdation.html"
              >Book Appointment</a>
          </button>
        </div>
      </div>
    </div>
    <div class="restPg">
      <div class="left">
        <div class="Heading">
          <p>Your journey to get healthy</p>
          <p class="heading_green">Starts here!</p>
        </div>
        <div class="information">
          <br>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, delectus officiis porro libero illum
            perferendis alias hic ex sed cupiditate, iure pariatur eius unde et? Architecto, ea autem perferendis ut
            quis corporis molestiae aliquam dignissimos explicabo dolorum, cum omnis minima natus incidunt laborum rerum
            voluptatum.</p>
        </div>
        <br>
        <br><br>
        <div class="left_image">
          <div class="female_image">
            <img src="../../image/femaleDoctorAboutUs.png">
          </div>
          <div class="male_image">
            <img src="../../image/doctorAboutUsPage.png">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="upper">
          <div class="right-left">
            <div class="right_image">
              <img src="../../image/about_us_img1.jpg" width="60" height="60">
            </div>
            <div class="para">
              <h3>Progress and Innovation</h3>
              <br>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sapiente id atque consequuntur quos
                saepe, nobis dolorum animi magni praesentium ab explicabo laboriosam perspiciatis quidem repellat
                accusamus.</p>
            </div>
          </div>
          <div class="right-right">
            <div class="right_image">
              <img src="../../image/about_us_img1.jpg" width="60" height="60">
            </div>
            <div class="para">
              <h3>Progress and Innovation</h3>
              <br>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur temporibus sed neque, vel deleniti,
                facere ad ullam sapiente iusto eum repellat esse. Temporibus quidem tenetur optio labore.</p>
            </div>
          </div>
        </div>
        <div class="lower">
          <div class="right-left">
            <div class="right_image">
              <img src="../../image/about_us_img1.jpg" width="60" height="60">
            </div>
            <div class="para">
              <h3>Progress and Innovation</h3>
              <br>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, earum numquam provident, odio
                nobis, distinctio illo eligendi mollitia tempore omnis explicabo nemo. Vero, aperiam nam! Error, ad!</p>
            </div>
          </div>
          <div class="right-right">
            <div class="right_image">
              <img src="../../image/about_us_img1.jpg" width="60" height="60">
            </div>
            <div class="para">
              <h3>Progress and Innovation</h3>
              <br>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto fuga, sit laborum qui harum
                perferendis illo facilis, inventore porro rem beatae? Modi architecto assumenda omnis vero voluptates!
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>