<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/medicine.css">
    <link rel="icon" href="../../svg/webLogoRed.svg" type="image/x-icon" />
    <title>Medicine_Page</title>
</head>

<body>
    <div class="maincontainer">
        <div class="headerPgOne">
            <div class="leftHeader">
                <div class="logoSvgDiv">
                    <img src="../../svg/webLogo.svg" class="svgLogo" />
                </div>
                <div class="textlogoDiv">
                    <div class="heartPulseImgDiv">
                        <img src="../../image/heart pulse.png" class="heartPulseImg" />
                    </div>
                    <div class="websiteNameDiv">
                        <h3 class="websiteName">Healthy HearTechs</h3>
                    </div>
                </div>
            </div>
            <div class="rightHeader">
                <div class="navBar">
                    <ul>
                        <li>
                            <button><a href="../../index.html">Home</a></button>
                        </li>
                        <li>
                            <button><a href="../../index.html">About Us</a></button>
                        </li>
                        <li>
                            <button><a href="../../index.html">Service</a></button>
                        </li>
                        <li>
                            <button><a href="../../index.html">Blog</a></button>
                        </li>
                        <li>
                            <button><a href="../../index.html">Testmonial</a></button>
                        </li>
                        <li>
                            <button><a href="../../index.html">FAQ</a></button>
                        </li>
                        <li>
                            <button><a href="../../index.html">Contact</a></button>
                        </li>
                    </ul>
                </div>
                <div class="buttonMakeApp">
                    <button class="makeAppointmentButton">
                        <a class="appointmentAnchor" href="./historyUpdation.html">Make an Appointment</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="searchandTagLine">
            <div class="TagLine">
                <p>Find Your <span>Treatment!</span></p>
            </div>
            <div class="search">
                <input type="text" id="Search" placeholder="Search your condition here" class="jsInput">
                <button type="submit" class="jsSearchButton" id="submit">Search</button>
            </div>
        </div>
        <div class="restPg">
            <div class="left">
                <div class="ayur_text">
                    <p>Ayurvedic Medicine</p>
                </div>
                <div class="left_box" id="jsAyurvediDiv">
                    <!-- <div class="box" id="box1">
                        <div class="img" id="img1">
                            <img src="../../image/about_us_img1.jpg">
                        </div>
                        <div class="big">
                            <div class="name" id="name1">
                                <p>Lorem, ipsum dolor.</p>
                            </div>
                            <div class="dandse">
                                <div class="dosage" id="dosage1">
                                    <p><span>Dosage:</span>Lorem, ipsum dolor.</p>
                                </div>
                                <div class="side_effects" id="side_effects1">
                                    <p>Side Effects:</p>
                                    <ul>
                                        <li>Lorem, ipsum dolor.</li>
                                        <li>Lorem, ipsum dolor.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="causes" id="causes1">
                                <p>Causes:</p>
                                <ul>
                                    <li>Lorem, ipsum dolor.</li>
                                    <li>Lorem, ipsum dolor.</li>
                                    <li>Lorem, ipsum dolor.</li>
                                    <li>Lorem, ipsum dolor.</li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="right">
                <div class="ayur_text">
                    <p>Allopathic Medicine</p>
                </div>
                <div class="left_box" id="jsAllopathicDiv">
                    <!-- <div class="box" id="box4">
                        <div class="img" id="img4">
                            <img src="../../image/about_us_img1.jpg">
                        </div>
                        <div class="big">
                            <div class="name" id="name4">
                                <p>Lorem, ipsum dolor.</p>
                            </div>
                            <div class="dandse">
                                <div class="dosage" id="dosage4">
                                    <p><span>Dosage:</span>Lorem, ipsum dolor.</p>
                                </div>
                                <div class="side_effects" id="side_effects4">
                                    <p>Side Effects:</p>
                                    <ul>
                                        <li>Lorem, ipsum dolor.</li>
                                        <li>Lorem, ipsum dolor.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="causes" id="causes4">
                                <p>Causes:</p>
                                <ul>
                                    <li>Lorem, ipsum dolor.</li>
                                    <li>Lorem, ipsum dolor.</li>
                                    <li>Lorem, ipsum dolor.</li>
                                    <li>Lorem, ipsum dolor.</li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="../public/Js/medicine_page.js" type="module"></script>
</body>
</html>