<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/records.css">
    <title>Medical Records</title>
</head>

<body>
    <div class="maincontainer">
        <div class="headerPgOne">
            <div class="leftHeader">
                <div class="logoSvgDiv">
                    <img src="../../svg/webLogo.svg" class="svgLogo" />
                </div>
                <div class="textlogoDiv">
                    <div class="heartPulseImgDiv">
                        <img src="../../image/heart pulse.png" class="heartPulseImg" />
                    </div>
                    <div class="websiteNameDiv">
                        <h3 class="websiteName">Healthy HearTechs</h3>
                    </div>
                </div>
            </div>
            <div class="rightHeader">
                <div class="navBar">
                    <ul>
                        <li>
                            <button><a href="../../index.html">Home</a></button>
                        </li>
                        <li>
                            <button><a href="../../index.html">About Us</a></button>
                        </li>
                        <li>
                            <button><a href="../../index.html">Service</a></button>
                        </li>
                        <li>
                            <button><a href="../../index.html">Blog</a></button>
                        </li>
                        <li>
                            <button><a href="../../index.html">Testmonial</a></button>
                        </li>
                        <li>
                            <button><a href="../../index.html">FAQ</a></button>
                        </li>
                        <li>
                            <button><a href="../../index.html">Contact</a></button>
                        </li>
                    </ul>
                </div>
                <div class="buttonMakeApp">
                    <button class="makeAppointmentButton">
                        <a class="appointmentAnchor" href="./appointment.html">Make an Appointment</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="restPg">
            <div class="leftside">
                <div class="content">
                    <div class="info">
                        <div class="upperhalf">
                            <div class="img">
                                <img src="../../image/about_us_img1.jpg"></a>
                            </div>
                            <div id="jsName" class="Name">
                                Patient Name
                            </div>
                            <div id="jsEmail" class="email">
                                patient@gmail.com
                            </div>
                        </div>
                        <div class="lowerhalf">
                            <table class="table">
                                <tr class="phone">
                                    <td> Phone No</td>
                                    <td class="jsPhoneNumber" id="mob">1234567890</td>
                                </tr>
                                <tr class="dob">
                                    <td>DOB</td>
                                    <td id="bdate">03/06/2002</td>
                                </tr>
                                <tr class="address">
                                    <td>Address</td>
                                    <td id="add">Bhopal</td>
                                </tr>
                            </table>
                            <div class="appoint">
                                Appointment Count - <span class="jsRecordCount" id="count">10</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightside">
                <div class="img2"></div>
                <div class="rightbottom">
                    <div class="heading">
                        Medical Records
                    </div>
                    <div class="jsHistory history">
                        <div class="record1">
                            <div class="upper">
                                <span id="med1"> Dabur Honitus Herbal Cough Remedy Syrup </span>
                                <span id="date1">3rd May 2023</span>
                            </div>
                            <br>
                            <span id="hos1">Hospital Name-Doctor Name</span>
                        </div>
                        <div class="record2">
                            <div class="upper">
                                <span id="med2"> Dabur Honitus Herbal Cough Remedy Syrup</span>
                                <span id="date2">3rd May 2023</span>
                            </div>
                            <br>
                            <span id="hos2">Hospital Name-Doctor Name</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="../public/Js/record.js" type="module"></script>

</body>

</html>