<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/signin.css">
  <title>Sign In</title>
</head>

<body>
  <div class="maincontainer">
    <div class="signInPg">
      <div class="Title">
        <img src="../../svg/webLogo.svg" class="svgLogo" />
        <h1 class="websitename">Healthy HearTechs</h1>
      </div>
      <div class="form">
        <div class="formHeading">
          <h1 class="heading">Login to Your Account</h1>
        </div>
        <div class="formContent">
          <form action="">
            <div class="email">
              <input type="email" placeholder="Email" required>
            </div>
            <div>
              <input type="password" placeholder="Password" required>
            </div>
          </form>
        </div>
        <div class="options">
          <div class="forgotPass">
            <a href="">Forgot Passowrd?</a>
          </div>
        </div>
        <div class="formSubmit">
          <button type="submit">Sign In</button>
        </div>
      </div>
    </div>
    <div class="signUpPg">
      <div class="signUpContent">        
        <div class="heading">
          <h1>New Here?</h1>
        </div>
        <div class="content">
          <h3>Sign up to utilise all features</h3>
        </div>
        <div class="btn">
          <a href="./signup.html">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>