<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../public/css/signin.css" />
		<link rel="icon" href="../../svg/webLogoRed.svg" type="image/x-icon" />
		<title>Sign In</title>
	</head>

	<body>
		<div class="maincontainer">
			<div class="signInPg">
				<div class="Title">
					<img src="../../svg/webLogo.svg" class="svgLogo" />
					<h1 class="websitename">Healthy HearTechs</h1>
				</div>
				<div class="form">
					<div class="formHeading">
						<h1 class="heading">Login to Your Account</h1>
					</div>
					<div class="formContent">
						<form action="">
							<input type="email" id="jsEmail" placeholder="Email" required />
							<input
								type="password"
								id="jsPassword"
								placeholder="Password"
								required
							/>
							<!-- <input type="button" value="Forgot Password?"> -->
							<button type="submit" id="jsSubmitButton">Login</button>
						</form>
					</div>
				</div>
			</div>
			<div class="signUpPg">
				<div class="signUpContent">
					<div class="heading">
						<h1>New Here?</h1>
					</div>
					<div class="content">
						<h3>Sign up to utilise all features</h3>
					</div>
					<div class="btn">
						<a href="./signup.html">Sign Up</a>
					</div>
				</div>
			</div>
		</div>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
		<script src="../public/Js/login.js" type="module"></script>
	</body>
</html>
