<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../public/css/signup.css" />
		<link rel="icon" href="../../svg/webLogoRed.svg" type="image/x-icon" />
		<title>Sign Up</title>
	</head>

	<body>
		<div class="maincontainer">
			<div class="signUpPg">
				<div class="Title">
					<img src="../../svg/webLogo.svg" class="svgLogo" />
					<h1 class="websitename">Healthy HearTechs</h1>
				</div>
				<div class="form">
					<div class="formHeading">
						<h1 class="heading">Sign Up</h1>
					</div>
					<div class="formContent">
						<form action="">
							<input type="text" id="jsName" placeholder="Name" required />
							<input
								type="tel"
								id="jsMobileNumber"
								placeholder="Mobile Number"
								pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
								required
							/>
							<input
								type="email"
								id="jsEmail"
								placeholder="Email"
								name="email"
								required
							/>
							<input
								type="password"
								id="jsPassword"
								placeholder="Password"
								required
							/>
							<input
								type="password"
								id="jsConfirmPassword"
								placeholder="Confirm Password"
								required
							/>
							<button type="submit" id="jsButtonSubmit">Create Account</button>
						</form>
					</div>
				</div>
			</div>
			<div class="signInPg">
				<div class="signInContent">
					<div class="heading">
						<h1>Already have an account?</h1>
					</div>
					<div class="content">
						<h3>To sign in click the button</h3>
					</div>
					<div class="btn">
						<a href="./signin.html">LogIn</a>
					</div>
					<div class="doctorImg">
						<img src="../../image/doctorSignUpNoBg.png" alt="" />
					</div>
				</div>
			</div>
		</div>

		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
		<script src="../public/Js/signup.js" type="module"></script>
	</body>
</html>
